body {
  text-align: center;
  font-family: Arial;
  background-color: black;
  color: white;
}

.buttons {
  margin-top: 20px;
}

.color-btn {
  padding: 15px 25px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.color-btn:hover {
  transform: scale(1.1);
}

[data-color="red"] {
  background-color: red;
}

[data-color="blue"] {
  background-color: blue;
}

[data-color="green"] {
  background-color: green;
}

[data-color="yellow"] {
  background-color: yellow;
}
#restartBtn {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#restartBtn:hover {
  background-color: #ddd;
}
[data-color="orange"] {
  background-color: orange;
}

[data-color="pink"] {
  background-color: pink;
}

[data-color="cyan"] {
  background-color: cyan;
}

[data-color="violet"] {
  background-color: violet;
}
